<div class="allApp">
  <div>
    <h1>Pokedit</h1>
    <div>
    <div class="saveSelection">
      <label type="text" id="saveName">Nom de la sauvegarde</label>
      <button>Charger la sauvegarde</button>
    </div>
    <app-upload-file></app-upload-file>
    <app-trainer-card></app-trainer-card>
    <app-badges-card></app-badges-card>
  
    <div class="saveButton">
      <button>Sauvegarder les modifications</button>
    </div>
    </div>
  </div>
</div>

<form>
  <app-upload-file></app-upload-file>
  <app-trainer-card></app-trainer-card>
  <app-badges-card></app-badges-card>
</form>